body {
    line-height: 1.6em;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

a:visited {
    color: #265778;
}

code.inline {
    background-color: #eee;
    padding: 0 2px;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 50px 0 30px;
    margin: 0 150px;
    border-bottom: 1px solid #ddd;
}

h3 {
    padding-top: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    background-color: #1f8dd6;
}

.navbar .pure-menu-children {
    background-color: #1f8dd6;
}

.navbar .pure-menu-link {
    color: #fff;
}
.navbar .pure-menu-link:hover,
.navbar .pure-menu-link:active,
.navbar .pure-menu-link:focus {
    background-color: #265778;
}

.navbarMenu {
    max-width: 960px;
    margin: 0 auto;
}

.page {
    max-width: 960px;
    margin: 100px auto 50px;
}
